venv/

# python stuff
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.idea*
.coverage
__pycache__
*.pyc

# vscode
.devcontainer/devcontainer.json
.devcontainer/docker-compose.yml
.vscode
.pytest_cache

# postgresql
djangocms/data/