{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block page_content %}

<body>
   <div class="container">
      <div class="col-md-6 mx-auto text-center pt-2 pb-2">
         <h1 style="font-size: 35;">
            Perfil de <i>{{ request.user.username }}</i>
         </h1>
         <p class="pt-4">
            El <b style="color: #235691">email verificado</b> se obtiene a través del correo electrónico
            que se envía automáticamente al crear una cuenta en Cool Men Software.
         </p>
      </div>
      <div class="row">
         <div class="col-md-4 mx-auto">
            <div>
               <div>
                  <div class="text-center pt-2">
                     <p style="font-size: larger;"><b>Email verificado:</b>
                        {% if verified %}
                        correctamente
                        {% else %}
                        incorrectamente
                        {% endif %}
                     </p>
                     <p style="font-size: larger;"><b>Roles:</b>
                        {% for rol in roles %}
                           {{ rol }}
                        {% endfor %}
                     </p>
                  </div>
               </div>
            </div>
            {% if admin_form == False %}
            <div class="myform form">
               <form action="{% url 'profile' %}" method="post">
                  <p class="text-center pt-2">Elige tus roles:</p>
                  {% csrf_token %}
                  <div class="form-group pl-4">
                     {% for rol in form.roles %}
                        <div class="checkbox">
                           {{ rol }}
                        </div>
                     {% endfor %}
                  </div>
                  <div class="text-center pt-2">
                     <button type="submit" class="btn btn-block login-button" style="padding: 8px 25px;">
                        Añadir roles
                     </button>
                  </div>
               </form>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</body>

{% endblock %}