{% extends "base.html" %}
{% load static %}
{% block page_content %}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">¡Hola, <b style="color: #235691;">{{ user.username }}</b>!</h1>
            <br>
            {% if request.user.is_authenticated == False %}
            <p>No olvides <b>verificar tu correo electrónico</b> para poder disfrutar al completo de todas
                las prestaciones de Cool Men Software. Si aún no has recibido el correo electrónico,
                espera unos minutos, a veces los servidores tardan un poco más de lo normal en responder.
            </p>
            <p>El correo electrónico se ha enviado a <b>{{ user.email }}</b></p>
            {% else %}
            <p>
                <span class="fa fa-check-circle pr-2" style="color: #235691;"></span>
                <b>Correo electrónico confirmado</b>, empieza a disfrutar de Cool Men Software al máximo.
            </p>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row text-center">
            <div class="col-sm">
                <h2 style="color: #235691;" class="text-center">
                    <span class="fa fa-print pr-2"></span>
                    CMS tradicional
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="fa fa-check pr-2" style="color: #235691;"></span>
                        Búsqueda en tiempo real
                    </li>
                    <li class="list-group-item">Almacenamiento en la nube</li>
                    <li class="list-group-item">Compartición de archivos</li>
                    <li class="list-group-item">Escalabilidad y replicabilidad</li>
                </ul>
            </div>
            <div class="col-sm">
                <h2 style="color: #235691;" class="text-center">
                    <span class="fa fa-globe pr-2"></span>
                    CMS enterprise
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="fa fa-check pr-2" style="color: #235691;"></span>
                        Búsqueda en tiempo real
                    </li>
                    <li class="list-group-item">
                        <span class="fa fa-check pr-2" style="color: #235691;"></span>
                        Almacenamiento en la nube
                    </li>
                    <li class="list-group-item">
                        <span class="fa fa-check pr-2" style="color: #235691;"></span>
                        Compartición de archivos
                    </li>
                    <li class="list-group-item">
                        <span class="fa fa-check pr-2" style="color: #235691;"></span>
                        Escalabilidad y replicabilidad
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

{% endblock %}