{% extends "base.html" %}
{% block active_search %} active {% endblock %}
{% block color_search %} style="color: #157ffb;" {% endblock %}
{% load static %}
{% block page_content %}

<form method='get'>
    <input id='q' name='q' type='text' placeholder="Tu búsqueda...">
    <select name="indice" id="id">
        <option value="general"> General </option>
        <option value="arquitectura" selected> Arquitectura </option>
        <option value="django"> Django </option>
    </select>
      <div>
        <button type="submit">Submit</button>
      </div>
</form>
  
{% for item in posts %}
  {{ item.titulo }}
  {{ item.descripcion }}
{% endfor %}

{% endblock %}