{% extends "base.html" %}
{% block active_index %} active {% endblock %}
{% block color_index %} style="color: #157ffb;" {% endblock %}
{% load static %}
{% block page_content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<div class="container">
	<form class="form" name="searchForm" id="searchForm" enctype="multipart/form-data">
		<input id='searchText' name='searchText' type='text' placeholder="Tu búsqueda...">
		{% for role in roles %}
		<input type="radio" name="selected_role" value={{role}} id={{role}}>
		<label for={{role}}> {{ role }} </label>
		{% endfor %}
		<div>
			<button type="submit">Submit</button>
		</div>
	</form>
	<div class="user-container">
		<div class="panel" id="panel">
			<div id="result">
			</div>
		</div>
	</div>
</div>


<!-- 
	<div class="component">
				<img src="{% static 'img/file.png' %}" alt="Fichero" class="image" >
				<p> prueba.txt </p>
			</div>
			<div class="component">
				<img src="{% static 'img/imagen.png' %}" alt="Imagen" class="image" >
				<p> prueba.png </p>
			</div>
			
	@TODO falta implementarlo con Django, es solo una demo no me mateis :( -->
<script>
	const searchForm = document.getElementById("searchForm");

	searchForm.addEventListener("submit", submitSearch);

	function submitSearch(e) {
		e.preventDefault();

		// Get the checked rol on form
		const checkboxes = document.querySelectorAll('input[name="selected_role"]:checked');

		var rol = " "; // Default if there are no roles set
		checkboxes.forEach((checkbox) => {
			rol = checkbox.id;
		});

		if (rol != " ") {

			// Search on ElasticSearch
			$.ajax({
			url: "http://localhost:9200/" + rol + "/_search?pretty", // the endpoint
			type: "POST", // http method
			dataType: "json",
			contentType: "application/json",
			data: JSON.stringify({
				"query": {
				"query_string": {
					"query": searchForm["searchText"].value
				}
				}
			}), // data sent with the get request

			// handle a successful response
			success: function (json) {
				// Load data from search
				for (i = 0; i < json["hits"]["hits"].length; i++) {
				// console.log(json["hits"]["hits"][i]["_source"]["url"])
				if (json["hits"]["hits"][i]["_source"]["text"] != "") {
					$("#result").append("<br><b> Resultado " + (i+1) + ":</b><br>" +
					"<b> Titulo: </b> <br>" + json["hits"]["hits"][i]["_source"]["title"] +
					"<br> <b> Url: </b> <br> <a href='" + json["hits"]["hits"][i]["_source"]["url"] + "'> Link descarga </a>" +
					"<br> <b> Texto: </b> <br>" + json["hits"]["hits"][i]["_source"]["text"] + 
					"<br> <b> Metadata: </b> <br>" + json["hits"]["hits"][i]["_source"]["metadata"] + "<br>"
					+ "<hr>");
				} else {
					$("#result").append("<br><b> Resultado " + (i+1) + ":</b><br>" +
					"<b> Titulo: </b> <br>" + json["hits"]["hits"][i]["_source"]["title"] +
					"<br> <b> Url: </b> <br> <a href='" + json["hits"]["hits"][i]["_source"]["url"] + "'> Link descarga </a>" + 
					"<br> <b> Metadata: </b> <br>" + json["hits"]["hits"][i]["_source"]["metadata"] + "<br>"
					+ "<hr>");
				}
				}

				$('#result').show();
			},

			// handle a non-successful response
			error: function (xhr, errmsg, err) {
				console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
			}
			})
		}
	}

	function sendFile() {
		var type = "{% static 'img/file.png' %}";
		var name = "Prueba1.txt";
		const fileHTML = 
		`
			<div class="component">
				<img src="${type}" alt="Archivo" class="image" >
				<p> ${name} </p>
			</div>
		`;
		$("#panel").append(fileHTML);
	}

	function sendImagen() {
		var tipo = "{% static 'img/imagen.png' %}";
		var name = "Prueba1.txt";
		const fileHTML = 
		`
			<div class="component">
				<img src="${tipo}" alt="Imagen" class="image" >
				<p> ${name} </p>
			</div>
		`;
		$("#panel").append(fileHTML);
	}

	function exampleTika(){
		console.log("running");
		$.ajax({
			url : "random_url/", // the endpoint
			type : "GET", // http method
			data : {}, // data sent with the get request

			// handle a successful response
			success : function(json) {
				console.log(json["content"]); // another sanity check
			},

			// handle a non-successful response
			error : function(xhr,errmsg,err) {
				console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
			}
		})
	}

</script>

{% endblock %}